# .venv - віртуальне середовище Python
.venv/

# .idea - файли проекту PyCharm
.idea/

# Користувачі.txt - припустимо, що це тестовий файл
Користувачі.txt

# .поля.txt - ще один тестовий файл
.поля.txt